<h1>About Me</h1>
<img src="/images/about_image.jpg" alt="A picture of Andrew Mulert">
<p>Hello, my name is Andrew Mulert. My major is Web Development and Design, and this is my third year at BYU-I. </p>