<div id="message-area">
    <% if (flash) { %>
        <% flash.forEach((obj) => { %>
            <%- include('../partials/flash', { type: obj.type, message: obj.message }) %>
        <% }); %>
    <% } %>
</div>